<div class="tonga">
  <div class="payment">
    <div class="sidebar">
      <div class="top"><p>Bahasa</p></div>
      <div class="middle">
        <div class="logo"><img src="digicel.png" alt="" /></div>
        <div class="tittle"><p>Digicel Tonga 2</p></div>
        <div class="small-tittle"><p>Total payment</p></div>
        <h3>TOP 1.00</h3>
        <div class="small-tittle"><p>Id-invoice<br />jkbjwqv11u8218dklc</p></div>
        <div class="wrapper">
          <p>1 items</p>
          <div class="button"><button>View</button></div>
        </div>
        <div class="credit">
          <fa-icon [icon]="money" class="icon"></fa-icon>
          <p>Credit Card</p>
        </div>
      </div>
      <div class="last"><button (click)="toggle()">Back to Merchant</button></div>
    </div>
    <div class="card-details">
      <div class="card-number">
        <div class="cardlogo"><img src="visa.png" alt="" /></div>
        <div class="input">
          <input type="text" placeholder="Credit Card Number" />
        </div>
        <div class="expiry-cvv">
          <div class="expiry">
            <input type="text" placeholder="Expiry MM/YY" />
          </div>
          <div class="cvv"><input type="text" placeholder="CVV" /></div>
        </div>
      </div>
      <div class="user-details">
        <div class="name">
          <div class="p"><p>Name On Card</p></div>
          <input type="text" placeholder="" />
        </div>
        <div class="email-phone">
          <div class="email">
            <p>Email</p>
            <input type="email" placeholder="user@yourdomain.com" />
          </div>
          <div class="phone"><input type="text" placeholder="Phone" /></div>
        </div>
      </div>
      <div class="pay"><button (click)="pay()">pay</button></div>
      <div class="images">
        <img src="visa1.jpg" alt="" /><img src="mastercard.png" alt="" /><img
          src="jcb.jpg"
          alt=""
        /><img src="norton.png" alt="" />
      </div>
    </div>
  </div>
</div>
