.tonga {
  display: flex;
  justify-content: center;
  background-color: #f4f4f4;
  height: 100vh;
  width: 100%;
}

.payment {
  background-color: white;
  height: 600px;
  width: 700px;
  display: flex;
  box-shadow: 0px 1px 5px whitesmoke;
  margin-bottom: 40px;
}
.sidebar {
  max-width: 300px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  box-shadow: 1px 0px 2px rgba(128, 128, 128, 0.3);
  /* justify-content: center; */
  /* justify-content: space-between; */
  gap: 19px;
  height: 100%;
  flex-direction: column;
}

.middle {
  align-items: center;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  gap: 10px;
}

.wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  p {
    font-size: 0.8rem;
  }
  /* flex-direction: column; */
  .button {
    button {
      padding: 2px 10px;
      color: black;
      background-color: rgba(255, 255, 0, 0.863);
      border: none;
      border-radius: 5px;
      font-weight: 400;
    }
  }
}

.top {
  background-color: gray;
  p {
    color: white;
  }
  border-radius: 8px;
  padding: 5px 8px;
}
.logo {
  /* background-color: #b90a29; */
  color: white;
  padding: 10px;
  border-radius: 8px;
  img {
    height: 60px;
    width: 60px;
  }
}

.tittle {
  min-width: 200px;
  text-align: center;

  p {
    font-size: 1rem;
    opacity: 0.8;
  }
}
.small-tittle {
  text-align: center;
  opacity: 0.6;
  font-size: 0.7rem;
  p {
    font-size: 0.8rem;
  }
}
h3 {
  color: red;
  opacity: 0.8;
}
.credit {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  p {
    color: red;
    opacity: 0.8;
  }
  .icon {
    opacity: 0.5;
    font-size: 1.8rem;
  }
}

.last {
  button {
    background-color: gray;
    padding: 10px 20px;
    color: white;
    border-radius: 15px;
    border: none;
  }
}
button {
  cursor: pointer;
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding-top: 60px;
  width: 100%;
  .icon {
    font-size: 20px;
    opacity: 0.5;
  }
  span {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  /* padding-left: 20px; */
}

.cardlogo {
  img {
    width: auto;
    height: 40px;
  }
}
.input {
  position: relative;
  input {
    padding-left: 40px;
    border-bottom: none;
    width: 100%;
  }
}

.card-number,
.user-details,
.pay {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.expiry-cvv {
  display: flex;
  .expiry {
    position: relative;
    width: 80%;
    span {
      position: absolute;
      height: 30px;
    }
    input {
      padding-left: 40px;
      border-right: none;
      width: 100%;
    }
  }
  .cvv {
    position: relative;
    input {
      padding-left: 40px;
    }
  }
}

.name {
  position: relative;
  p {
    font-size: 0.7rem;
    opacity: 0.5;
  }
  .p {
    position: absolute;
    top: -8px;
    /* font-size: 12px; */
    background-color: white;
    /* opacity: 0.6; */
    left: 6px;
  }
  input {
    border-bottom: none;
    width: 100%;
    font-weight: bold;
    padding-left: 40px;
  }
}

.email-phone {
  display: flex;
  .email {
    position: relative;
    .p-email {
      position: absolute;
      top: -8px;
      /* font-size: 12px; */
      background-color: white;
      /* opacity: 0.6; */
      left: 6px;
    }
    p {
      font-size: 0.7rem;
      opacity: 0.5;
    }
    width: 80%;
    input {
      border-right: none;
      width: 100%;
      padding-left: 40px;
      font-weight: bold;
    }
  }
  .phone {
    position: relative;
    input {
      padding-left: 40px;
    }
  }
}

.images {
  display: flex;
  justify-content: center;
  gap: 2px;
  img {
    width: auto;
    height: 30px;
  }
}
input {
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.295);
}
.pay {
  button {
    width: 100%;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    padding: 10px 0px;
    background-color: #b90a29;
    color: white;
  }
}
