<div class="header" data-aos="fade-down" data-aos-duration="800">
  <div class="logo" (click)="navigate()"><img src="logo.png" alt="logo" /></div>
  <div class="right">
    <div class="wrapper1">
      <div class="right_1">
        <div class="name_number"><p>Kenny Sebastian 6768788170</p></div>
        <div class="recharge_type"><p>MOBILE PREPAID</p></div>
        <div class="switch">
          <div class="switch-account"><p>Switch Account</p></div>
        </div>
      </div>
    </div>
    <div class="wrapper2">
      <div class="right_2"><p>{{initials}}</p></div>
    </div>
  </div>
</div>

<div class="mobile-header">
  <div class="logo_name">
    <div class="logo" (click)="navigate()">
      <img src="logo.png" alt="logo" />
    </div>
    <div class="name"><p>KS</p></div>
  </div>
  <div class="wrapper1-mobile">
    <div class="right_1">
      <div class="name_number"><p>Kenny Sebastian 6768788170</p></div>
      <div class="recharge_type"><p>MOBILE PREPAID</p></div>
      <div class="switch">
        <div class="switch-account"><p>Switch Account</p></div>
      </div>
    </div>
  </div>
</div>
