<div *ngIf="isoverlay" class="overlay">
  <div class="overlay-content">
    <div class="title"><h1>Select Your Country</h1></div>
    <div class="flag-grid">
      <div
        *ngFor="let country of countries"
        (click)="selectCountry(country)"
        class="flag-card"
      >
        <img [src]="country.flagUrl" [alt]="country.name" width="60" />
        <p>{{ country.name }}</p>
      </div>
    </div>
    <div class="cross">
      <fa-icon [icon]="faxmark" (click)="changeoverlay()"></fa-icon>
    </div>
  </div>
  <br /><br />
</div>
<div class="paymentoverlay" *ngIf="ismycash">
  <div class="content">
    <div class="title1">Make payment using MyCash</div>
    <div class="input"><input type="text" /></div>
    <div class="button-outter">
      <div class="inner">
        <button type="button" (click)="movenext()">Pay Now</button>
      </div>
    </div>
    <div class="cross1">
      <fa-icon [icon]="faxmark" (click)="toggleoverlay()"></fa-icon>
    </div>
  </div>
</div>
<div class="paymentoverlay2" *ngIf="ismycashnext">
  <div class="content1">
    <div class="title_otp">
      <p>
        Enter the 6-digit OTP sent to your MyCash number
        <span>+6x6 xxx x170</span>
      </p>
    </div>
    <div class="title_warning">
      <p>Before you make any changes, confirm your identity.</p>
    </div>
    <div class="otp-wrapper">
      <input
        *ngFor="let digit of otpArray; let i = index"
        type="text"
        maxlength="1"
        [(ngModel)]="otp[i]"
        (input)="moveToNext($event, i)"
        (keydown.backspace)="moveToPrev($event, i)"
        class="otp-box"
      />
    </div>
    <div class="button-outter">
      <div class="inner">
        <button type="button" (click)="success()">Submit</button>
      </div>
    </div>
    <div class="cross1">
      <fa-icon [icon]="faxmark" (click)="toggleoverlaynext()"></fa-icon>
    </div>
  </div>
</div>
<div class="paymentoverlay" *ngIf="issuccess" (click)="failure()">
  <div class="content_success">
    <!-- success-alert.component.html -->
    <div class="success-popup2">
      <div class="success-popup1">
        <div class="success-popup">
          <div class="checkmark-container">
            <div class="checkmark">✔</div>
          </div>
        </div>
      </div>
    </div>

    <div class="title1">
      Recharge has been successfully done. It will reflected in account shortly.
    </div>
    <div class="cross1">
      <fa-icon [icon]="faxmark" (click)="togglesuccess()"></fa-icon>
    </div>
  </div>
</div>
<div class="paymentoverlay" *ngIf="isfailure">
  <div class="content_success">
    <div class="failure-popup2">
      <div class="failure-popup1">
        <div class="failure-popup">
          <div class="checkmark-container">
            <div class="checkmark">X</div>
          </div>
        </div>
      </div>
    </div>

    <div class="title1">
      Oops!! Your transaction has failed. Please try again.
    </div>
    <div class="cross1">
      <fa-icon [icon]="faxmark" (click)="togglefailure()"></fa-icon>
    </div>
  </div>
</div>
<app-header *ngIf="showlayout" ></app-header>
<router-outlet />
<div class="footer">
  <app-footer *ngIf="showlayout"></app-footer>
</div>
