<div class="footer">
  <div class="footer_1">
    <div class="logo"><img src="logo.png" alt="logo"></div>
    <div class="social">
      <div class="outter">
        <div class="inner"><img src="twitter.svg" alt="" /></div>
      </div>
      <div class="outter">
        <div class="inner"><img src="facebook.svg" alt="" /></div>
      </div>
      <div class="outter">
        <div class="inner"><img src="utube.svg" alt="" /></div>
      </div>
      <div class="outter">
        <div class="inner"><img src="ln.svg" alt="" /></div>
      </div>
    </div>
    <br /><br />
  </div>
  <div class="hr"><hr /></div>
  <div class="footer2">
    <div class="footer2_left">
      <p>2025 © Digicel Pacific. All rights reserved.</p>
    </div>
    <div class="footer2_right">
      <div class="footer2_right_text">Terms of Use</div>
      <div class="footer2_right_text">Privacy Policy</div>
      <div class="footer2_right_text">Copyright Information</div>
    </div>
  </div>
</div>
