.nav {
  font-size: 0.8rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px 5rem;
  align-items: center;
  background-color: white;
}
.flag {
  padding-top: 4px;
}
a{
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.logo {
  /* display: flex; */
  font-size: 1.2em;
  img {
    height: auto;
    width: 80px;
    background-color: #f5f6f8;
  }
  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}

._right {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

._right_1 {
  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}

._right_4 {
  /* width: 100%; */
  width: 30%;
  justify-content: center;
  align-items: center;
  display: flex;
  button {
    width: 70%;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: transparent;
    border: none;
    border-radius: 1em;
    z-index: 1;
  }

  button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 1em;
    padding: 1px; /* border thickness */
    background: linear-gradient(to right, #cf2094, #fe402a);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
  }
}
._right_3 {
  display: flex;
  align-items: center;
  gap: 4px;

  .dropdown {
    padding-top: 2px;
    cursor: pointer;
  }
}

.flag {
  height: 25px;
  width: 34px;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
.quickpay-bg {
  background-color: #f5f6f8;
  transition: background-color 0.3s ease;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
}
button {
  cursor: pointer;
}
.mobile_nav {
  display: none;
  flex-direction: column;
}
.Country_name {
  display: flex;
  gap: 2px;
}

.mobile_right_3 {
  display: flex;
  flex-direction: column;
}
/* @media (min-width : 769px){
  .nav{
    display:flex ;
  }
  .mobile_nav{
    display: none;
  }
} */
@media (max-width: 768px) {
  ._right {
    background-color: rgb(218, 213, 213);
    padding: 0.5rem;
    width: 100%;
  }
  .wrapper {
    width: 100%;
  }
  .nav {
    display: none;
  }
  .mobile_nav {
    display: flex;
  }
  .wrapper {
    font-size: 0.8rem;
    /* gap: 20px; */
  }
  ._right_4 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    button {
      width: 100%;
    }
  }

 
}

/* @media (max-width: 900px) {
  
  ._right {
    background-color: rgb(218, 213, 213);
    padding: 0.5rem;
  }
  .nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 25px;
    align-items: flex-start;
    flex-direction: column;
    background-color: transparent;
    gap: 10px;
  }
  ._right {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
  }
  ._right_4 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    button {
      width: 100%;
    }
  }
} */

/* .mobile_nav {
  display: flex;
  flex-direction: column;
} */

.mobile_logo {
  padding: 0.5rem;
  ._right_4 {
    width: 50%;
    margin: 0%;
    justify-content: flex-end;

    button {
      width: 50%;
      padding: 5px;
    }
  }
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  a {
    cursor: pointer;
    img {
      width: 40px;
      height: 100%;
    }
  }
}
